h1,
h2 {
  font-weight: normal;
  
}

.calculator {
  background-color: #0A4D3F;
  border: 1px solid #fff;
  width: 20em;
  height: 30em;
  margin: 0 auto;
  text-align: left;
  border-radius: 5px;
  /* font-family: 'Times New Roman', Times, serif; */
}

.display {
  padding: 15px;
  margin: 15px;
  text-align: right;
  font-size: 1.5em;
  background-color: #fff;
  color: #0A4D3F;
  height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.buttons button {
  flex-grow: 1;
  background-color:#DBEBEB;
  font-size: 1.1em;
  color: #0A4D3F;
  width: 3.5em;
  height: 3.5em;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.butttons button .clear {
  flex-grow: 0.5;
}

.one {
  display: flex;
  flex-grow: 1;
}

#hidden {
  visibility: hidden;
}